---
name: fourmolu

on: push

permissions: {}

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      # v11
      - uses: haskell-actions/run-fourmolu@3b7702b41516aa428dfe6e295dc73476ae58f69e
        with:
          version: "0.19.0.1"
