---
name: Super-Linter

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

permissions: {}

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Preprocess Haskell files to accept specific single space indent
        run: |
          git ls-files '*.hs' -z | xargs -0 sed -i 's/^ )$/  )/'

      - name: Run Linter
        # v8.3.2
        uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99
        env:
          LINTER_RULES_PATH: .
          YAML_CONFIG_FILE: .yamllint.yaml
          YAML_ERROR_ON_WARNING: true
          GITHUB_ACTIONS_COMMAND_ARGS: -shellcheck=
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
